header
{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
  border-width: 100%;
  margin-bottom: 50px;
}

footer
{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 20px;
  border-top: 1px solid black;
  padding: 20px 0px 0px 0px;
}

fieldset
{
  border:2px solid black;
  margin: 10px 10px 0px 0px;
}

body
{ 
   width:70%;
   margin:auto;
}

#contener
{
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: 5px;
}

.button {
	background: #0066A2;
	color: white;
	border-style: outset;
	border-color: #0066A2;
	height: 50px;
	width: 200px;
	font: bold 15px arial, sans-serif;
	text-shadow:none;
}

.number_input
{
  width: 40%;
}

#contener_submit
{
  display: flex;
  justify-content: center;
	flex:1 1 auto;
}

.user_text_area 
{
  height: 300px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin: 5px;
}

.user_comment
{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 5px;
}

.control:checked ~ .conditional {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
      }

      .control:not(:checked) ~ .conditional {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }